<div id="details" class="row mx-3 border border-success rounded">
    <div class="col-5 p-3">
        <img src="{{film?.Poster}}" alt="{{film?.Title}} poster">
    </div>
    <div class="col-7 p-3">
        <div class="row mt-3">
            <div class="col-4 fw-bold">Title:</div>
            <div class="col-8">{{film?.Title}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Released:</div>
            <div class="col-8">{{film?.Released}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Genre:</div>
            <div class="col-8">{{film?.Genre}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Country:</div>
            <div class="col-8">{{film?.Country}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Director:</div>
            <div class="col-8">{{film?.Director}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Writer</div>
            <div class="col-8">{{film?.Writer}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Actors:</div>
            <div class="col-8">{{film?.Actors}}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4 fw-bold">Awards:</div>
            <div class="col-8">{{film?.Awards}}</div>
        </div>
    </div>
</div>