<div class="card mb-3 h-100">
    @if (film.Poster == "N/A") {
    <img src="no-photo.png" class="card-img-top img-fluid" alt="no photo">
    } @else {
    <img src="{{ film.Poster }}" class="card-img-top img-fluid" alt="{{ film.Title }} Poster">
    }
    <div class="card-body">
        <p class="card-text"><small class="text-body-secondary">{{ film.Type }}</small></p>
        <h5 class="card-title">{{ film.Title }}</h5>
        <p class="card-text"><small class="text-body-secondary">{{ film.Year }}</small></p>
    </div>
    <div class="d-grid card-footer bg-white border-0">
        <button [routerLink]="['/film', film.imdbID]" type="button" class="btn text-white border-0" w-50>Подробнее</button>
    </div>
</div>