<link rel="stylesheet" href="header.scss">
<nav id="nav" class="navbar shadow" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <img src="https://avatars.dzeninfra.ru/get-zen-logos/246004/pub_5a1e8ab71410c37c6c7e5c62_5a1e955fc5feaf12c53deb72/xxh"  class="rounded-circle p-3" height="180" alt="">
        <a class="navbar-brand" routerLink="/">Information about movies, TV series and other video products from the OMDb database
            <br>Информации о фильмах, телесериалах и другой видеопродукции из базы данных OMDb</a>
    </div>
</nav>